[project]
	description = Archive of Progress 4GL (ABL) programs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tom Beadman (tomb50)
[access "refs/for/refs/*"]
	read = group user/Tom Beadman (tomb50)
	push = group user/Tom Beadman (tomb50)
	label-Code-Review = -2..+2 group user/Tom Beadman (tomb50)
	label-Verified = -1..+1 group user/Tom Beadman (tomb50)
	rebase = group user/Tom Beadman (tomb50)
	removeReviewer = group user/Tom Beadman (tomb50)
	submit = group user/Tom Beadman (tomb50)
[access "refs/heads/*"]
	read = group user/Tom Beadman (tomb50)
	create = group user/Tom Beadman (tomb50)
	push = +force group user/Tom Beadman (tomb50)
	pushMerge = group user/Tom Beadman (tomb50)
[access "refs/tags/*"]
	push = +force group user/Tom Beadman (tomb50)
	pushTag = group user/Tom Beadman (tomb50)
	pushSignedTag = group user/Tom Beadman (tomb50)
